.m-bk {
    position: absolute;
    width: 1252Px;
    height: 1204px;
    background: url(./images/beijing.png) no-repeat;
    background-size: 50%;
    opacity: 0.2;
    z-index: 1;
}
.o {
    font-weight:normal;
    z-index: 2;
    width: 626px;
    height: 602px;
    display: grid;
    grid-template-columns: auto 300px;
    grid-template-rows: 207px 196px auto;
}
.a img{
    width: 247px;
    margin-top: 23px;
    margin-left: 62px;
}
.b {
    margin-top: -10px;
    margin-left: -43px;
    transform:scale(0.7);
}
.b h2{
    font-size: 16px;
}
.b hr{
    height: 2.5px;
    border:none;
    background-color:#0169b2;
    width: 34px;
}
.b p{
    font-size: 4px;
    margin-top: 25px;
}
.b button{
    background-color: #0169b2;
    border: 0;
    height: 30px;
    border-radius: 4px;
    margin-top: 45px;
    color: white;
    font-size: xx-small;
    text-indent: 10px;
}
.c{
    margin-left: 63px;
    grid-column-start: 1;
    grid-column-end: 3;
}
.c h1{
    color: #0169b2;
    font-size: 16px;
}
.c p button{
    width: 57px;
    height: 13px;
    border-radius: 100px;
    border: 0;
    background-color: #0169b2;
    color: white;
    text-align: center;
}
.d{
    margin-left: 26px;
}
.d h3{
    font-size: 12px;
    display: block;
    margin: 0%;
    text-indent: 5px;
}
.d button{
    background-color: #0169b2;
    border: 0;
    width: 216px;
    color: white;
    height: 35px;
    border-radius: 3px;
    margin-top: 35px;
}